<div class="fluid-container">
	<h1>Appointment Calendar</h1>

	<%= react_component 'Appointments', appointments: @appointments %>

	<%#= simple_form_for @appointment, remote: true do |f| %>
		<%#= f.input :title %>
		<%#= f.input :appt_time %>
		<%#= f.button :submit %>
	<%# end %>

	<div id="appointments">
		<%#= render 'appointment_partial' %>
	</div>
</div>

